{% extends 'main/index.html' %}
{% load static %}


{% block title %}{% endblock %}

{% block login_status %} 
<li><a href="/login/company/">企業登入</a></li>
<li><a href="/login/member/">會員登入</a></li>
{% endblock %}

{% block static_content %} 


{% endblock %}

{% block body_content %} 

<section class="single-page-title single-page-title-hunting">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><b>Job Hunter 工作獵人</b></h2>
            </div>
        </div>
    </div>
</section>

<div class="jumbotron">
        <div class="container text-center">
             <h1 class="page-header">工作機會多 更新速度快 值得您信賴</h1>
        <p class="lead">愛你所選 擇你所愛</p>
        </div>
	   
	</div>
	
	<div class="container ">
	    <div class="row">
	      
	        <div class="col-md-4 well pricing-table">
	            <div class="pricing-table-holder">
	                <center>
	                    <img src="{% static '/imgs/rank-1.png' %}" style="height: 100px;width: 100px;" class="img-responsive img-circle" alt="">
                        <h3>{{job_like_rank.title.0}}</h3>
                        <p class="caption">
                            最愛人數：{{job_like_rank.like.0}}
                        </p>
	                </center>
	            </div>
	            
	            <div class="pricing-feature-list">
	                <ul class="list-group">
                        {% for companytitle in first_title_list %}
                            <li class="list-group-item">{{companytitle}}</li>
                        {% endfor %}
                    </ul>
	            </div>
	            
	        </div>
	              <div class="col-md-4 well pricing-table">
	            <div class="pricing-table-holder">
	                <center>
	                    <img src="{% static '/imgs/rank-2.png' %}" style="height: 100px;width: 100px;" class="img-responsive img-circle" alt="">
	                    <h3>{{job_like_rank.title.1}}</h3>
	                    <p class="caption">
                                最愛人數：{{job_like_rank.like.1}}
	                    </p>
	                </center>
	                
	            </div>
	            
	            <div class="pricing-feature-list">
	                <ul class="list-group">
                        {% for companytitle in second_title_list %}
                            <li class="list-group-item">{{companytitle}}</li>
                        {% endfor %}
                    </ul>
	            </div>
	        </div>
	              <div class="col-md-4 well pricing-table">
	            <div class="pricing-table-holder">
	                <center>
	                    <img src="{% static '/imgs/rank-3.png' %}" style="height: 100px;width: 100px;" class="img-responsive img-circle" alt="">
	                    <h3>{{job_like_rank.title.2}}</h3>
	                    <p class="caption">
                                最愛人數：{{job_like_rank.like.2}}
	                    </p>
	                </center>
	                

                  
	            </div>
	            
	            
	            <div class="pricing-feature-list">
	                <ul class="list-group">
                        {% for companytitle in third_title_list %}
                            <li class="list-group-item">{{companytitle}}</li>
                        {% endfor %}
                    </ul>
	            </div>
	        </div>
	    </div>
	</div>
<footer class="footer">
    <div class="footer-widget-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-logo">
                        <a href="#"><img class="img-responsive" src="{% static 'imgs/logo-footer.png' %}" alt=""></a>
                    </div>
                </div><!-- /.col-sm-4 -->

                <div class="col-md-8">
                    <div class="footer-text">  
                      <p>
                      不要杞人憂天。煩惱並不會減少明天的負擔，卻會失去今天的快樂。
                      </p>
                      <p>
                      青春就像是切洋蔥，我們都淚流滿面，卻還樂此不疲。
                      </p>
                      <p>
                      沒有不會淡的疤,沒有不會好的傷，沒有不會停下來的絕望。
                      </p>
                      <p>人遠比自己想象的要堅強，特別是當你回頭看看的時候，你會發現自己走了一段自己都沒想到的路。</p>
                    </div>
                </div><!-- .col-sm-4 -->
            </div>
        </div>
    </div>

{% endblock %}


