.filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}

.filters input[type=text] {
	text-align: center;
}

.filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
