{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Hunter - {% block title %}{% endblock %}</title>
    
     <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/mobile-menu.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">    
    <link href="{% static 'fonts/flaticon/flaticon.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- JS 引入 -->
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/mobile-menu.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% block static_content %} {% endblock %}
</head>
<body>
<div id="main-wrapper">
<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>
<div class="uc-mobile-menu-pusher">
<div class="content-wrapper">
 

<section class="single-page-title single-page-title-hunting">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a  href="/main/"><h2><b>工作獵人</b></h2></a>
            </div>
        </div>
    </div>
</section>


{% block body_content %} {% endblock %}

    
    <!-- 頁尾資訊欄 -->

<footer class="footer">
    
    <div style="position: fixed; bottom: 0; width: 100%" class="copyright-section">
        <div class="container clearfix">
            <ul class="list-inline pull-right">
                <li class="active"><a href="/main/">Job Hunter</a></li>         
                <li class="phone"><i class="fa fa-phone-square" aria-hidden="true"></i> 0900123456</li>
                    <li class="email"><i class="fa fa-envelope" aria-hidden="true"></i>
                    admin@jobhunter.com
                    </li>
                <li><a href="/main/joinus/">加入我們</a></li>
                <li><a href="/main/about/">關於我們</a></li>
            </ul>
        </div>
    </div>
</footer>


</body>
</html>